TRABAJO 1/Punto 2/archivo - copia.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    TODO define vocabulary identification
    PUBLIC ID: -//vendor//vocabulary//EN
    SYSTEM ID: http://server/path/archivo - copia.dtd

-->

<!--
    An example how to use this DTD from your XML document:

    <?xml version="1.0"?>

    <!DOCTYPE coleccion_cd SYSTEM "archivo - copia.dtd">

    <coleccion_cd>
    ...
    </coleccion_cd>
-->

<!--- Put your DTDDoc comment here. -->
<!ELEMENT coleccion_cd (genero|cancion)*>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT genero (album)*>
<!ATTLIST genero
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT album (#PCDATA)>
<!ATTLIST album
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT cancion (autor)*>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT autor (#PCDATA)>
